# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
bower_components/
jspm_packages/
web_modules/

# Build output
dist/
dist-ssr/
out/
build/
.next/
.nuxt/
.vuepress/dist
.temp
.cache/
.parcel-cache/
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.fusebox/

# TypeScript
*.tsbuildinfo

# Cache
.nyc_output
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_*/
.pnp.*
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# Runtime data
pids
*.pid
*.seed
*.pid.lock
.lock-wscript
.yarn-integrity
.node_repl_history
*.tgz
.report.*
*.local

# Env files
.env
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional
coverage/
*.lcov

# VSCode test
.vscode-test
